# .env
# SECURITY SETTINGS - MUST BE CHANGED IN PRODUCTION!
SECRET_KEY=a_very_secure_random_string_here_replace_me_in_prod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# DEFAULT USERS SEEDING
ADMIN_PASSWORD=admin
USER_PASSWORD=123456

# APIS
ALPHA_VANTAGE_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=stock-reports-free

# DATABASE
MONGO_URI=mongodb://localhost:27017/stockdb
REDIS_URL=redis://localhost:6379/0
KAFKA_BROKER_URL=localhost:9092
