
requests
pydantic
pydantic-settings
python-dotenv
aiokafka
fastapi
uvicorn
motor
redis
textblob
crewai
playwright
passlib[bcrypt]
python-jose[cryptography]
python-multipart
yfinance
# RAG Dependencies
PyMuPDF
langchain
langchain-openai
langchain-pinecone
pinecone
langchain-text-splitters
langchain-huggingface
sentence-transformers

